<div class="d-flex justify-content-center bg-white pt-3 border-bottom border-primary mb-5">
	<ul class="nav nav-pills text-center mb-3" id="pills-tab" role="tablist">
		<% if @stages.present? %>
			<% @stages.each do |stage| %>
				<li class="nav-item px-2" role="presentation">
					<%= button_to stage.name, activate_stage_path(stage), method: :patch, class: "nav-link fw-bold px-5 #{stage.active? ? 'active' : ''}" %>
				</li>
			<% end %>
		<% else %>
			<h3>No Stages Yet!</h3>
		<% end %>
	</ul>
</div>
<%#  %>
<div class="card rounded">
	<div class="card-body border border-danger border-4 border-top-0 border-bottom-0">
		<div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
				<% if @quizzes.present? %>
					<% @quizzes.each do |quiz| %>
						<a class="btn btn-<%= quiz.answered? ? 'outline-secondary disabled' : 'primary' %> btn-lg fw-bold m-2"  href="<%= quiz_path(quiz)%>" role="button"><%= quiz.formatted_question_number %></a>
					<% end %>
				<% else %>
					<p class="text-center my-5 h1"><i class='bx bx-error'></i> Oops, Nothing here!</p>
				<% end %>
			</div>
		</div>
	</div>
</div>