<footer class="footer z-1 fixed-bottom py-3 bg-body-tertiary">
	<div class="container text-center">
		<span class="text-body-secondary h5">Made with <i class='bx bxs-heart text-danger'></i> by <a href="https:www.softalx.com" class="text-decoration-none" target="_blank">Softalx Solutions</a></span>
	</div>
</footer>