<div class="row">
	<div class="col-lg-3">
		<%= render 'shared/side_nav' %>
	</div>
	<div class="col-lg-9">
		<div class="card">
			<div class="card-body">
				<form>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">No of Stages</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
					</div>
					<div class="mb-3">
						<label for="exampleInputPassword1" class="form-label">Random</label>
						<input type="password" class="form-control" id="exampleInputPassword1">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
