<div class="row">
	<div class="col-lg-3">
		<%= render 'shared/side_nav' %>
	</div>
	<div class="col-lg-9">
		<h1>Settings Page</h1>
		<div class="card shadow">
			<div class="card-body">
				<h4>Available Stages</h4>
				<% if @stages.present? %>
					<% @stages.each do |stage| %>
						<span class="badge rounded-pill text-bg-primary p-2"><%= stage.name %></span>
					<% end %>
				<% else %>
					<span class="badge rounded-pill text-bg-danger p-2">No Stages Yet!</span>
				<% end %>
				<p></p>
				<h4>Uploaded Questions</h4>
				<% if @stages.present? %>
					<% @stages.each do |stage| %>
						<div class="badge bg-primary fs-4 text-white m-1 p-2">
							<%= "#{stage.name}: #{stage.quizzes.count}" %>
						</div>
					<% end %>
				<% else %>
					<span class="badge rounded-pill text-bg-danger p-2">No questions uploaded yet.</span>
				<% end %>
				<p></p>
				<h4>Timer (s)</h4>
				<span class="text-primary fw-bold fs-3"><%= @timer.nil? ? 0 : @timer %></span> <span class="fs-4">Sec</span>
				<p></p>
			</div>
		</div>
	</div>
</div>
