<div class="row">
	<div class="col-lg-3">
		<%= render 'shared/side_nav' %>
	</div>
	<div class="col-lg-9">
		<h1>Stage Page</h1>
		<div class="card shadow">
			<div class="card-body">
				<h3>Available Stages <span class="badge bg-primary text-white m-1 p-2"><%= @stage %></span></h3>
				<%= form_with url: settings_stage_path, method: :post do |f| %>
					<div class="mb-3">
						<label for="" class="form-label">No of Stages</label>
						<%= f.number_field :number_of_stages, class: "form-control" %>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				<% end %>
			</div>
		</div>
	</div>
</div>
